<!DOCTYPE html>
<html>
    <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Adopt Meow</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1ab5572857.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='main.css')}}">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Short+Stack" />
    
    <div class="navigation">
        <div class="topnav">
        <a href="/mainpage">Explore</a>
        <a href="/createpost">Create Post</a>
        <a href="/adoptmeow">Adopt Meow</a>
        <a href="/donation">Donation</a>
        </div>
        <div class="dropdown">
        <button class="dropbtn">
            {{ current_user.username }}
            <img src="{{ profile_pic }}" class="profilepic">
        </button>
        <div class="dropdown-content" id="dropdownContent">
            <a href="/userprofile">My Profile</a>
            <a href="/notification">Notifications</a>
            <a href="/user_posts">My Posts</a>
            <a href="/catprofile">My Cats</a>
            <a href="/registercat">Register Cat</a>
            <a href="/logout">Log out</a>
        </div>
        </div>  
    </div>

    </head>
    <body class="catprofilepage">
        <br />

        <p class="profileheader">--Adopt Meow--</p>

        <div class="flash-messages">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% if cats %}
        <div class="catprofile_container">
          {% for cat, state, email, phonenumber in cats %}
            <div class="catprofile">

                <div class="cat_pfp">
                    <img src="{{ cat.cat_photo }}" alt="Cat Photo">
                </div>

                <div class="adopt_cat_info">
                    <h4>Cat's Name: {{ cat.cat_name }}</h4>
                    <p><strong>Age:</strong> {{ cat.cat_age }} yeaars old</p>
                    <p><strong>Breed:</strong> {{ cat.cat_breed }}</p>
                    <p><strong>Gender:</strong> {{ cat.cat_gender }}</p>
                    <p><strong>Neutered Status:</strong> {{ cat.cat_neutered }}</p>
                    <p><strong>Vaccine Status:</strong> {{ cat.cat_vaccine }}</p>
                    <p><strong>Special Needs:</strong> {{ cat.cat_special_needs }}</p>
                    <p><strong>About Me:</strong> {{ cat.cat_about_me }}</p>
                    <hr>
                    <h4>Contact Information:</h4>
                    <p><strong>State:</strong> {{ state }}</p>
                    <p><strong>Email:</strong> {{ email }}</p>
                    <p><strong>Phone Number:</strong> {{ phonenumber }}</p>

                    {% if cat.user_id == current_user.id %}
                        <form action="{{ url_for('adoptmeow.remove_adopt_cat', cat_id=cat.id) }}" method="POST" onsubmit="return confirmRemoveAdopt();" >
                            <button type="submit" class="remove_adopt_button">Remove from Adoption</button>
                        </form>
                    {% else %}
                        <form action="{{ url_for('adoptmeow.adopt_cat', cat_id=cat.id) }}" method="POST" onsubmit="return confirmAdopt();" >
                            <button type="submit" class="adopt_button">Adopt Me!</button>
                        </form>
                    {% endif %}
                </div>
            </div>
          {% endfor %}

            <script>
                function confirmAdopt() {
                    return confirm("Are you sure you want to adopt this cat?");
                }
            </script>

            <script>
                function confirmRemoveAdopt() {
                    return confirm("Are you sure you want to remove this cat from adoption?");
                }
            </script>

        </div>
      {% else %}
        <div class="no_cat_fadopt">
            No cats are currently available for adoption.
        </div>      
      {% endif %}
    </div>
        
</body>
</html>