<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cat Profile</title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='main.css')}}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='main.js'></script>    
    </head>

    <body class="adoptmeowpage">

        <div class="topnav">
            <a class="active" href="/mainpage">Main</a>
            <a href="/user_posts">Post</a>
            <a href="/adoptmeow">Adopt Meow</a>
            <a href="/donation">About</a>
          </div>
    
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/user">User</a>
            <a href="/notification">Notification</a>
            <a href="/profile_page">Cat Profile</a>
            <a href="/registercat">Register Cat</a>
            <a href="/logout">Log out</a>
          </div>

        <span class="menu-button" onclick="openNav()">&#9776; Menu</span>

        <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
    
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        </script>
        <br />

        <p class="profileheader"><b><u>Adopt Meow</u></b></p>

        
</body>
</html>