<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cat Profile</title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='main.css')}}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='main.js'></script>    
    </head>

    <body class="catprofilepage">

        <div class="topnav">
            <a class="active" href="/mainpage">Main</a>
            <a href="/user_posts">Post</a>
            <a href="/adoptmeow">Adopt Meow</a>
            <a href="/donation">About</a>
          </div>
    
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/userprofile">User</a>
            <a href="/notification">Notification</a>
            <a href="/profile_page">Cat Profile</a>
            <a href="/registercat">Register Cat</a>
            <a href="/logout">Log out</a>
          </div>

        <span class="menu-button" onclick="openNav()">&#9776; Menu</span>

        <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
    
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        </script>
        <br />

        <p class="profileheader"><b><u>Cat Profile</u></b></p>

        <p class = "username">Hello, {{ current_user.username }}!</p>
   
        <div class="catprofile_container">
            {% for cat in current_user.cats %}
            <div class="catprofile catprofile{{ loop.index }}">

                <div class="cat_pfp">
                    <img src="{{ cat.cat_photo }}" alt="Cat Photo">
                </div>
                    
                <div class="cat_info">
                    <h2>Cat's Name: {{ cat.cat_name }}</h2>
                    <p><strong>Age:</strong> {{ cat.cat_age }} years old</p>
                    <p><strong>Breed:</strong> {{ cat.cat_breed }} </p>
                    <p><strong>Gender:</strong> {{ cat.cat_gender }} </p>
                    <p><strong>Neutered Status:</strong> {{ cat.cat_neutered }} </p>
                    <p><strong>Vaccine Status:</strong> {{ cat.cat_vaccine }} </p>
                    <p><strong>Special Needs:</strong> {{ cat.cat_special_needs }} </p>
                    <p><strong>About Me:</strong> {{ cat.cat_about_me }} </p>
                    
                {% if current_user.id == cat.owner.id %}    
                    <a href="{{ url_for('registercat.edit_cat', cat_id=cat.id) }}" class="editcatprofile">Edit</a>
                
                        <button type="submit" class="rehome_button">Rehome</button>

                    <form action="{{ url_for('registercat.delete_cat', cat_id=cat.id) }}" method="POST" style="display:inline;" onsubmit="return confirmDelete();">
                        <button type="submit" class="deletecatprofile">Delete</button>
                    </form>

                {% endif %}    
                </div>

            </div>
            {% endfor %}

            <script>
                function confirmDelete() {
                    return confirm("Are you sure you want to delete this cat profile?");
                }
            </script>

        </div>

            <div class="addcat_button_container">
                <a href="/registercat" class="addcat_button"><b>Add Cat</b></a>
            </div>

    </body>        
    
</html>