<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Create Post</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <meta name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/1ab5572857.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='main.css')}}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Short+Stack" />
  
  <div class="navigation">
    <div class="topnav">
      <a href="/mainpage">Explore</a>
      <a href="/createpost">Create Post</a>
      <a href="/adoptmeow">Adopt Meow</a>
      <a href="/donation">Donation</a>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        {{ current_user.username }}
        <img src="{{ profile_pic }}" class="profilepic">
      </button>
      <div class="dropdown-content" id="dropdownContent">
        <a href="/userprofile">My Profile</a>
        <a href="/notification">Notifications ({{ current_user.unread_notification_count }})</a>
        <a href="/user_posts">My Posts</a>
        <a href="/catprofile">My Cats</a>
        <a href="/registercat">Register Cat</a>
        <a href="/logout">Log out</a>
      </div>
    </div>  
  </div>

</head>
<body class="post-page">
    <br />
    <p class="profileheader">Create a Post !</p>
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <!--insert title-->
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!--insert content-->
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <!--insert image file-->
                <div class="form-group">
                    {{ form.file.label(class="form-control-label") }}
                    {% if form.file.errors %}
                        {{ form.file(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.file.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.file(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <!--submit button-->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <!--back button-->
    <div >
        <button class="backbtn" onclick="location.href='/mainpage'">Back</button>
    </div>
</body>
</html>