<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Main</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='main.css')}}">
   <script src='main.js'></script>

    <div class="topnav">
        <a href="/">Main</a>
        <a class="active" href="/post">Post</a>
        <a href="/adopt">Adopt meow</a>
        <a href="/donation">About</a>
    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/user">User</a>
        <a href="/notification">Notification</a>
        <a href="#">Log out</a>
    </div>

</head>
<body>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    <br />

    <div class="post_add">
        <h2>Add Post</h2>
        <form id="add-post-form">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
            <br><br />
            <label for="content">Content:</label>
            <textarea id="content" name="content"></textarea>
            <br><br />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>