{% extends "nav.html" %}
{% block content %}
<body>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
    <br />

    <h1>Show them your love ^^ </h1>
    <ul>
        <li>Jasmyne Yap : Founder of Nekoyangi</li>
        <li>Aleez Dayana : Manager of Nekoyangi </li>
        <li>Aniqah: Assistant Manager of Nekoyangi</li>
    </ul>
    <div class="donate">
        <h3>list of donation websites/links from trusted organisations</h3>
    </div>

    <div class="image">
        <a href ="https://www.paws.org.my/donate" target="_blank">
        <img src="{{ url_for('static', filename='picture/paws.png') }}" alt="org. logo"></a>
    </div>

    <div class="image">
        <a href="https://mnawf.org.my/donate/" target="_blank">
        <img src="{{ url_for('static', filename='picture/MNAWF.png') }}" alt="org2. logo"></a>
    </div>

    <div class="image">
        <a href="https://catbeachpenang.com/donate/" target="_blank">
        <img src="{{ url_for('static', filename='picture/cat_beach.png') }}" alt="org3. logo"></a>
    </div>
    
    <div class="link">
        <ul>
            {% for link in links %}
            <li><a href="{{ link.url }}" target="_blank">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
{% endblock content %}