<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Notification</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
  <meta name='viewport' content='width=device-width, initial-scale=1,shrink-to-fit=no'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/1ab5572857.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='main.css')}}">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Short+Stack" />
  
  <div class="navigation">
    <div class="topnav">
      <a href="/mainpage">Explore</a>
      <a href="/createpost">Create Post</a>
      <a href="/adoptmeow">Adopt Meow</a>
      <a href="/donation">Donation</a>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        {{ current_user.username }}
        <img src="{{ profile_pic }}" class="profilepic">
      </button>
      <div class="dropdown-content" id="dropdownContent">
        <a href="/userprofile">My Profile</a>
        <a href="/notification">Notifications ({{ current_user.unread_notification_count }})</a>
        <a href="/user_posts">My Posts</a>
        <a href="/catprofile">My Cats</a>
        <a href="/registercat">Register Cat</a>
        <a href="/logout">Log out</a>
      </div>
    </div>  
  </div>

</head>
<body class="notipage">
    <div class="notifications">
        <p class="profileheader">{{current_user.username}}'s Notifications</p>
        <p class="username">You have {{ current_user.unread_notification_count }} new notifications</p>    <br />

        <article class="noti-body">
        <ul class="noti-content">
            {% for notification in notifications %}
                <!--display like notifications-->
                {% if notification.notification_type == 'like' %}
                    {% if notification.likes%}
                        <p class="like-noti">{{ notification.likes.author.username }} liked your post. {{ notification.date.strftime('%Y-%m-%d %H:%M:%S')}}</p>
                    {% endif %}
                <!--display comment notifications-->
                {% elif notification.notification_type == 'comment' %}
                    {% for comment in comments %}
                        {% if comment.id == notification.comment_id %}
                            <p class="comment-noti">{{ comment.author.username }} commented "{{ comment.text }}" on <a class="noti-post" href="{{ url_for('views.post', post_id=notification.post_id) }}">your post</a>. {{ notification.date.strftime('%Y-%m-%d %H:%M:%S')}}</p>
                        {% endif %}
                    {% endfor %}
                <!--display adoption notification-->
                {% elif notification.notification_type == 'adoption' %}
                    <p class="adoption-noti">
                        {{ adopter_names[notification.id] }} adopted your cat, <a class="noti-post" href="{{ url_for('views.catprofile', cat_id=notification.cat_id) }}">{{ cats[notification.id].cat_name }}!</a>
                        {{ notification.date.strftime('%Y-%m-%d %H:%M:%S')}}
                    </p>
                {% endif %}
            {% endfor %}
        </ul>
        </article>
    </div>
</body>
</html>