<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nekoyangi</title>
    <link rel="stylesheet" type='text/css' media="screen"  href={{ url_for('static',filename='main.css')}}>
</head>
<body>
    <div class="signup-container">
        <h1 class="signuptitle">Sign Up</h1>
        <form method ="POST">
            <div class="user.details">
                <div class="input-box">
                    <label class="details">Full Name</label>
                    <input 
                        type="text" 
                        placeholder="Enter Full Name" 
                        id="full-name" 
                        name="full-name" required>
                </div>
                <div class="input-box">
                    <label class="details">Email</label>
                    <input 
                        type="email" 
                        placeholder="Enter email"
                        id="email" 
                        name="email" required>
                </div>
                <div class="input-box">
                    <label class="details">Username</label>
                    <input 
                        type="text" 
                        placeholder="Username" 
                        id="username" 
                        name="username" required>
                </div>
                <div class="input-box">
                    <label class="password1">Password</label>
                    <input 
                        type="password" 
                        placeholder="Enter Password" 
                        id="password1"
                        name="password1" required>
                </div>
                <div class="input-box">
                    <label class="details">Password(Confirm)</label>
                    <input 
                        type="password" 
                        placeholder="Confirm password" 
                        id="password2"
                        name="password2" required>
                </div>
                <div class="input-box">
                <label class="details">State</label>
                <select id="state">
                    <option value="state">Select your state</option>
                    <option value="selangor">Selangor</option>
                    <option value="kelantan">Kelantan</option>
                    <option value="terengganu">Terengganu</option>
                    <option value="perlis">Perlis</option>
                    <option value="negerisembilan">Negeri Sembilan</option>
                    <option value="pulaupinang">Pulau Pinang</option>
                    <option value="perak">Perak</option>
                    <option value="pahang">Pahang</option>
                    <option value="johor">Johor</option>
                    <option value="kedah">Kedah</option>
                    <option value="melaka">Melaka</option>
                    <option value="wilayahkl">Wilayah Persekutuan Kuala Lumpur</option>
                    <option value="wilayahputrajaya">Wilayah Persekutuan Putrajaya</option>
                </select>
                </div>
                <div class="input-box">
                    <label class="details">Phone Number</label>
                    <input type="text" placeholder="Phone Number" required>
                </div>
            </div>
            <button type="submit" class="button submitbutton">Submit</button>
        </form>
    </div>
</body>
</html>