<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User Profile</title>
   <link rel="stylesheet" type='text/css' media="screen"  href="{{ url_for('static',filename='main.css')}}">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <div class="userpage_container">
   <div class="navigation">
    <div class="topnav">
      <a class="" href="/mainpage">Main</a>
      <a href="/createpost">Post</a>
      <a href="/adoptmeow">Adopt meow</a>
      <a href="/donation">About</a>
    </div>
    <div class="dropdown">
      <button class="dropbtn">
        <img src="{{ profile_pic }}" class="profilepic">
        {{ current_user.username }}
      </button>
      <div class="dropdown-content" id="dropdownContent">
        <a href="/userprofile">My Profile</a>
        <a href="/notification">Notifications</a>
        <a href="/user_posts">My Posts</a>
        <a href="/catprofile">My Cats</a>
        <a href="/registercat">Register Cat</a>
        <a href="/logout">Log out</a>
  </div>
    </div>  
  </div>
</br></br></br></br></br></br></br>
</head>
<body>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
   <br />

   <h1 style="margin-left: 15%;" >Welcome, {{ current_user.username }} ! </h1>
   </br></br></br>
<div class="userprofile">
    <div class="media">
        <img class="userpfp" src="{{ profile_pic }}" style="max-width: 200px; max-height: 200px;">
        <div class="media-body">
            <strong>Full Name : </strong>{{ current_user.fullname }}</br></br>
            <strong>Email : </strong>{{ current_user.email }}</br></br>
            <strong>Username : </strong>{{ current_user.username }}</br></br>
            <strong>State : </strong>{{ current_user.state }}</br></br>
            <strong>Phone Number : </strong>{{ current_user.phonenumber }}</br></br>
        </div>
    </div>

   <div class="userpage_bttn">
    <button  class="edituserprofile" onclick="location.href='/user_edit'">Edit Profile</button>
    <button type="logout" class="logoutbttn" onclick="location.href='/logout'">Logout</button>
   </div>
</br></br></br></br></br></br></br>

   <h1>{{ current_user.username}}'s Cat</h1>
</br></br>
   {% for cat in cats %}
   <div class="ownercat">
    <div class="catpfp" style="max-width: 200px; max-height: 200px;">
        <img src="{{ cat.cat_photo }}" alt="Cat Photo">
    </div>
    <div class="catinfo">
        <a href="{{ url_for('views.catprofile') }}" >{{ cat.cat_name }}</a>
    </div>
   </div>
   {% endfor %}
</div>

</body>
</html>
