<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>User Profile</title>
   <link rel="stylesheet" type='text/css' media="screen"  href="{{ url_for('static',filename='main.css')}}">
</head>
<body>
   <h1>{{ current_user.username }}</h1>
   <p>Full Name : {{ current_user.fullname }}</p>
   <p>Email : {{ current_user.email }}</p>
   <p>State : {{ current_user.state }}</p>
   <p>Phone Number : {{ current_user.phonenumber }}</p>
   <a href="{{ url_for('views.logout')}}">logout</a>
</body>
</html>