body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Nav Bar*/
.topnav {
    overflow: hidden;
    background-color: #705b33;
    position: fixed; 
    width: 100%; 
    top: 0; 
}
  
.topnav a {
    float: left;
    color: #f6e5cb;
    text-align: center;
    padding: 14px 162px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover, a.active {
    background-color: #dba76d;
    color: #62442f;
    font-size: 17px;
}
  
/*sidebar*/
.menu-button {
    position: fixed;
    top: 60px; 
    left: 8px; 
    font-size: 20px;
    cursor: pointer;
    color: #f6e5cb; 
    background-color: #705b33; 
    padding: 10px 15px; 
    border-radius: 10px; 
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #62442f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ddc7ab;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #fafdcb
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

/*CatRegisterPage*/
.catformpage {
    background-image: url('photos/catformbg.png'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 170vh; 
    margin: 0;
    padding-top: 80px; 
    color: #553b29; 
}

.container {
    background-color: #f6e5cb;
    border-radius: 20px; 
    border: 2px solid #dab185;
    padding: 20px;
    width: 60%; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
    margin-top: 40px;
    margin-bottom: 40px;
}

h1, h3, p {
    text-align: center;
}

.catform {
    margin-top: 10px; 
}

input[type="text"],
input[type="email"],
input[type="file"],
input[type="submit"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #dab185;
    box-sizing: border-box;
}

.cat_breed,
.cat_gender,
.cat_neutered,
.cat_vaccinated {
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #FFC0CB;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #e086bc; 
}
