#css for mainpage
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-container {
    position: relative;
    height: 100%;
}

.mainpage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('nekoyangi.jpg'); /* Replace 'your-background-image.jpg' with the path to your background image */
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Adjust as needed */
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 20%;
    color: white; /* Adjust text color to be visible on the background */
}

.button-mainpage {
    margin-top: 20px;
    color: #705B33;
    border-radius: 50px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff; /* Adjust button color as needed */
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3; /* Adjust hover color as needed */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('backgroundcat3.jpeg');
    background-size: center;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #ffdb99;
    padding: 25px 30px;
    border-radius: 10px;
}

.container .h1 {
    text-align: center;
}

input {
    width: 150px;
    height: 50px;
    text-align: center;
}

input .details .description {
    width: 200px;
    height: 75px;
}
input placeholder {
    text-align: center;
}
.container .title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    text-align: center;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    padding: 30px;
}

.details {
    padding: 15px;
    font-weight: bold;
}


.submit-button input{
    background-color: #f6a475;
    border-style: none;
    border-radius: 6px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px;
    max-width: 700px;
    width: 100%; 
    box-sizing: border-box; 
}

.submit-button .container {
    position: fixed;
    left: 75%;
    transform: translateX(-50%); 
    z-index: 999;
    margin-bottom: 150px;
}

.submit-button:hover input{
    background-color: #ff6347;
}