
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffdc9c;
  /*background-image: url('photos/catformbg.png'); 
  background-size: 100%;*/ 
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  text-align: center;
  margin-right: 0px;
  margin-left: 350px;
}

.login-row {
  color: rgb(153, 11, 11);
  text-align: center;
  margin-left: 650px;
  margin-right: 100px;
  margin-bottom: 0px;
}

.content-section {
  background: #fbcb98;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 20%;
  margin-right: 20%;
}

.mypost-content h1,h5{
  margin-left: 10px;
}

.backbtn{
  margin-left: 75%;
  padding: 10px;
  font-size: large;
}

.addpostbtn{
  background-color: #f3e7d1;
  border-color: #dba76d;
}

.article-title {
  color: #444444;
}

a.article-title:visited {
  color: #47301a;
  text-decoration: none;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:visited {
  color: #428bca;
  text-decoration: none;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.post_add {
  border: 3px solid black;
  border-color: #ddc7ab;
  text-align: center;
  padding: 50px;
  width: 150px;
}

.newpost a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #47301a;
  display: block;
}

/* Nav Bar */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #705b33;
  z-index: 1;
  width: 100%;
}

.topnav {
  display: flex;
  background-color: #705b33;
  flex-grow: 1;
  justify-content: flex-start;
}
  
.topnav a {
  color: #f6e5cb;
  text-align: center;
  padding: 10px 130px; /* Adjust padding as needed */
  text-decoration: none;
  font-size: 20px;
}
  
.topnav a:hover, a.active {
  background-color: #dba76d;
  color: #62442f;
  text-decoration: none;
  /*font-size: 17px;*/
}

.topnav::after {
  content: "";
  display: table;
  clear: both;
}

/*Dropdown*/
.dropdown {
  position: relative;
  background-color: #705b33;
}

.dropbtn {
  display: flex;
  align-items: center;
  background-color: #705b33;
  color: pink;
  padding: 10px 35px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: calc(100% + 0px);
  right: 0;
  background-color: #705B33;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: rgb(255, 223, 109);
  background-color: #dba76d;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #dba76d;
}
@media screen and (max-width: 768px) {
  .topnav {
    width: 80%;
  }

  .topnav a {
    padding: 14px 10px;
  }

  .dropbtn {
    padding: 14px 10px;
  }
}

.profile-container {
  display: flex;
  align-items: center;
}

/*Post page*/
a.delete-comment:hover{
  color: #62442f;
}

a.delete-comment:visited{
  color: #333;
}

.post-image img {
  max-width: 500px;
  max-height: 300px;
}

/*Donation page*/
.donate {
  margin-left: 30px;
}

.image {
  text-align: center;
}

.image img:hover {
  border: 5px solid rgb(251, 182, 86);
}

.image img {
  width: 360px;
  height: 260px;
  float: left;
  margin: 70px;
  margin-bottom: 10px;
  margin-top: 30px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 20%;
}

.link1, .link2, .link3 {
  overflow: hidden;
  clear: both;
  color: #ddc7ab;
  text-align: center;
  display: inline-block;
  border: solid 2px #62442f;
  border-radius: 30px;
  margin-left: 125px;
  padding: 10px;
  background-color: #62442f;
}
.link1, .link2, .link3, a:visited{
  color: #ffffff;
}

.link1, .link2, .link3, a:hover{
  color: #fafdcb;
  
}

.link1{
  padding: 24px;
}
.link2{
  width: 20%;
  margin-left: 230px;
  margin-top: 20px;
}

.link3 {
  margin-left: 230px;
  padding: 24px;
}

/* First Page */
.firstpage-container {
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('nekoyangi3.jpg');
  height: 80%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
}

body .firstpage-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('nekoyangi3.jpg'); 
  background-size: cover;
  background-position: center;
}

.firstpage-container img {
  display: block;
  max-width: 100%; 
  max-height: 80%; 
  width: auto;
  height: auto;
  margin: auto; 
  overflow: hidden;
  background-size: cover;
  object-fit: cover;
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.signup, .login{
  padding: 20px;
  /*margin-top: 99px;
  margin-left: 50px;*/
  font-size: 25px;
  font-family: Helvetica;
  background-color: #705B33;
  color: white;
  border: none;
  border-radius: 50px;
  width: 250px;
  margin-right: 0px;
  z-index: 1;
  text-align: center;
  /*position: sticky;*/
  transition: background-color 0.3s; 
}

.signup{
  margin-right: 130px;
}
.signup:hover {
  background-color: #dba76d;
}

.login:hover {
  background-color: #dba76d; 
}

/* Sign Up Page */
body .signup-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.signup-container {
  background-image: url('signupbg.jpg');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.signup-form {
  width: 42%;
  margin-left: 37%; 
  margin-top: 7%;
  font-family: 'Canva sans';
  padding-bottom: 20px;
  color: #FFEED6;
}

.user-details {
  margin-top: 10%;
}

.input-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.input-box label {
  flex: 1;
  font-size: 22px;
  margin-bottom: 5px;
  color: #FFEED6;
  margin-left: 10%;
}

.input-box input,
.input-box select {
  flex: 1;
  padding: 10px;
  border-radius: 15px;
  background-color: #FFEED6;
  margin-right: 15%;
}

.input-box select {
  width: calc(100% - 15%);
}

.submitbutton {
  padding: 15px;
  font-size: 19px;
  font-family: serif;
  background-color: #62442F;
  color: white;
  border: none;
  border-radius: 50px;
  width: 115px; 
  transition: background-color 0.3s;
  margin-top: 5px;
  margin-left: 40%;
  margin-bottom: 0%;
}

.submitbutton:hover {
  background-color: #dba76d;
}

.signuptitle {
  color: #FFEED6;
  font-size: 30px;
  font-family: serif;
  text-align: center;
  margin-right: 30%;
  margin-top: 0%;
  /*margin-left: 15%;*/
}

.signin-options{
  margin-left: 70%;
}

a.have-account:visited {
  color: #a9d4fa;
}

a.have-account:hover {
  color: #62442F;
}

.invalid-feedback {
  color: red;
}

/* Log In page */
body .login-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-image: url('loginbg.jpg');
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.login-form {
  width: 42%;
  margin-left: 45%; 
  margin-top: 10%;
  font-family: 'Canva sans';
  padding-bottom: 50px;
  color: #FFEED6;
}

.login-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.login-box label {
  flex: 1;
  font-size: 25px;
  margin-bottom: 5px;
  color: #FFEED6;
  margin-left: 15%;
}

.login-box input{
  flex: 2;
  padding: 10px;
  border-radius: 15px;
  background-color: #FFEED6;
  margin-right: 20%;
}

.loginbutton {
  padding: 15px;
  font-size: 19px;
  font-family: serif;
  background-color: #62442F;
  color: white;
  border: none;
  border-radius: 50px;
  width: 115px; 
  transition: background-color 0.3s;
  margin-top: 35px;
  margin-left: 41%;
  margin-bottom: 7%;
}

.loginbutton:hover {
  background-color: #8E7137;
}

.logintitle {
  color: #FFEED6;
  font-size: 30px;
  font-family: serif;
  text-align: center;
  margin-bottom: 10%;
}

.login-options{
  margin-left: 28%;
}

/*CatRegisterPage*/
.catformpage {
  background-image: url('photos/catformbg.png'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 170vh; 
  margin: 0;
  padding-top: 30px; 
  color: #553b29; 
}

.container_catform {
  background-color: #f6e5cb;
  border-radius: 20px; 
  border: 2px solid #dab185;
  padding: 20px;
  width: 60%; 
  box-shadow: 0 0 20px rgba(59, 31, 11,0.1);
  margin-bottom: 40px;
}

.register_cat_title {
  text-align: center;
}

.catform {
  margin-top: 10px; 
}

input[type="text"],
input[type="email"],
input[type="file"],
input[type="submit"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #dab185;
  box-sizing: border-box;
}

.cat_breed,
.cat_gender,
.cat_neutered,
.cat_vaccinated {
  margin-bottom: 20px;
}

input[type="submit"] {
  background-color: #FFC0CB;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #e086bc; 
}

/*CatProfilePage*/

.catprofilepage {
  background-image: url('photos/catformbg.png'); 
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed;
  margin: 0;
  padding-top: 80px; 
  color: #553b29;
}

.profileheader {
  color: #62442f;
  font-size: 30px;
  padding: 10px 15px;
  position: absolute;
  z-index: 0;
  top: 28px; 
  left: 7%; 
}

.username {
  padding-left: 20px;
  font-size: 25px;
}

.catprofile_container {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  gap:40px;
  margin-top: 20px;
  margin: 0 auto;
  width: fit-content;
  max-width: 100%;
  text-align: center;
}

.catprofile {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
}

.cat_pfp {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: #705b33 solid 2px;
  overflow: hidden;
  margin-right: 40px;
  flex: 0 0 250px;
}

.cat_pfp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cat_info {
  background-color: #f6e5cb;
  border-radius: 20px;
  border: 2px solid #705b33;
  padding: 20px;
  flex: 1;
  width: 600px;
  height: 280px;
  box-shadow: 0 0 20px rgba(59, 31, 11,0.1);
  margin: 0 20px;
  text-align: left;
  white-space: normal;
  align-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.cat_info h2 {
  margin-top: 0;
  text-align: left;
}

.cat_info p {
  margin: 8px 0;
  text-align: left;
}

.editcatprofile {
  background-color: #758248;
  border-radius: 20px;
  color:#e8e8e8;
  margin-top: 10px;
  margin-left: 10px;
  padding: 8px 15px;
  float: right;
  text-decoration: none;
  border: #44693b solid 2px;
}

.put_adopt_button {
  background-color: #d48e58;
  border-radius: 20px;
  color:#f0f0f0;
  margin-top: 10px;
  margin-right: 10px;
  padding: 8px 15px;
  float: left;
  text-decoration: none;
  font-size: 14.5px;
  border-color: #a1694f;
  cursor: pointer;
}

.deletecatprofile {
  background-color: #ac5757;
  border-radius: 20px;
  color:#e8e8e8;
  margin-top: 10px;
  padding: 8px 15px;
  float: right;
  text-decoration: none;
  font-size: 14.5px;
  border-color: #854747;
  cursor: pointer;
}

.addcat_button_container {
  position: relative;
  margin-top: 20px; 
  margin-bottom: 40px;
  justify-content: center;
  display: flex;
}

.addcat_button {
  background-color: #FFC0CB;
  color: #be6f6f;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 20px;
  border: #e17e8e solid 2px;
  display: block;
  margin-top: 20px; 
  width: 70px;
  box-shadow: 0 0 20px rgba(60, 9, 23, 0.1);
  justify-items: center;
}

.addcat_button:hover {
  background-color: #e17e8e;
  color: #ecdddf;
}

/*User Profile Page*/
.userpage_container {
  background-color: #dab185;
}
.userprofile {
  margin-left: 10%;
}

.catpfp, .userpfp{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: #705b33 solid 2px;
  overflow: hidden;
  margin-right: 40px;
  flex: 0 0 250px;
  display: inline-block;
  margin-bottom: 10%;
}

.ownercat {
  display: flex;
}
.catpfp img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block; 
  vertical-align: middle; 
}

.catinfo a {
  color: #47301a;
  text-align: center;
  white-space: normal;
  align-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: larger;
  font-weight: bold;
}
/*Profile pic*/
.profilepic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

/*dropdown menu*/
/*Adopt Meow Page*/
.no_cat_fadopt {
  background-color: #f0a2a2;
  color: #fcf2ea;
  text-align: center;
  width: 500px;
  border-radius: 20px;
  border: #b67373 solid 2px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.adopt_cat_info {
  background-color: #f6e5cb;
  border-radius: 20px;
  border: 2px solid #705b33;
  padding: 20px;
  flex: 1;
  width: 600px;
  height: 400px;
  box-shadow: 0 0 20px rgba(59, 31, 11,0.1);
  margin: 0 20px;
  text-align: left;
  white-space: normal;
  align-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.adopt_cat_info h2 {
  margin-top: 0;
  text-align: left;
}

.adopt_cat_info p {
  margin: 8px 0;
  text-align: left;
}

.adopt_button {
  background-color: #758248;
  border-radius: 20px;
  color:#f0f0f0;
  margin-top: 10px;
  margin-left: 10px;
  padding: 8px 15px;
  float: right;
  text-decoration: none;
  font-size: 14.5px;
  border: #44693b solid 2px;
  cursor: pointer;
}

.remove_adopt_button {
  background-color: #ac5757;
  border-radius: 20px;
  color:#e8e8e8;
  margin-top: 10px;
  padding: 8px 15px;
  float: right;
  text-decoration: none;
  font-size: 14.5px;
  border-color: #854747;
  cursor: pointer;
}

.flash-messages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert {
  padding: 8px 100px;
  border: 2px solid transparent;
  border-radius: 20px;
  text-align: center;
  display: inline-block;
  margin: 10px auto;
}

.alert-success {
  color: #558855;
  background-color: #dff0d8;
  border-color: #93a783;
}

.alert-danger {
  color: #995a59;
  background-color: #f2dede;
  border-color: #b58c93;
}

/*Notification page*/
.notifications {
  margin: 35px 40px;
}

a.noti-post {
  color: rgb(243, 55, 127);
  text-decoration: none;
}

li.comment-noti .like-noti {
  border: 3px solid #dddddd;
}

.noti-content p{
  margin: 10px 40px;
  margin-right: 200px;
  background-color: #fff8e8;
  border-radius: 15px;
  padding: 10px;
}