body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: beige;
}

h1 {
  align-content: center;
  padding: 20px 300px;
  background-color: #ffc65d;
  color: black;
  border-style: ridge;
  margin: 5px;
}

.post, .post-content {
  align-content: center;
  border-radius: 5px;
  border-style: solid;
  background-color: white;
  padding: 20px 400px;
  color: black;
  margin: 5px;
}

.post_add {
  border: 1px black;
  text-align: center;
  padding: 30px;
}

.newpost a {
  padding: 8px 8px 8px 87%;
  text-decoration: none;
  font-size: 25px;
  color: #47301a;
  display: block;
}

.main img {
  padding-left: 650px;
  width: 200px;
  height: min-content;
}

/* Nav Bar */
.topnav {
  overflow: hidden;
  background-color: #62442f;
}
  
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 162px;
  text-decoration: none;
  font-size: 17px;
}
  
.topnav a:hover {
  background-color: #ffeed6;
  color: #111;
}
  
.topnav a.active {
  background-color: #ffc65d;
  color: white;
}

  /*sidebar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #62442f;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fafdcb
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Donation page*/

.donate {
  margin-left: 30px;
}

.donate a:link {
  background-color: rgb(239, 217, 191);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  padding: 20px 10px;
  border: 2px solid black;
  display: inline-block;
  margin: 5px;
}

.donate a:hover, a:active {
  color: black;
}

.image {
  text-align: center;
}

.image img:hover {
  border: 5px solid rgb(247, 72, 72);
}

.image img {
  width: 360px;
  height: 260px;
  float: left;
  margin: 10px;
  border: 2px solid black;
}

.link {
  overflow: hidden;
}