<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cat Profile</title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='style.css')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='main.js'></script>    
    </head>

    <body class="catprofilepage">

        <div class="topnav">
            <a class="active" href="/">Main</a>
            <a href="/post">Post</a>
            <a href="/adopt">Adopt Meow</a>
            <a href="/donation">About</a>
          </div>
    
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/user">User</a>
            <a href="/notification">Notification</a>
            <a href="/registercat">Register Cat</a>
            <a href="/profile_page">Cat Profile</a>
            <a href="#">Log out</a>
          </div>

        <span class="menu-button" onclick="openNav()">&#9776; Menu</span>

        <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }
    
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        </script>
        <br />

        <p class="profileheader"><b><u>Cat Profile</u></b></p>

        <div class="catprofile1">

            <div class="cat_pfp">
                <img src="static/photos/juju2.jpg" alt="Juju Photo">
            </div>
                
            <div class="cat_info">
                <h2>Cat's Name: Juju</h2>
                <p><strong>Age:</strong> 13 years old</p>
                <p><strong>Breed:</strong> Maine Coon</p>
                <p><strong>Gender:</strong> Male</p>
                <p><strong>Neutered Status:</strong> Neutered</p>
                <p><strong>Vaccine Status:</strong> Vaccinated</p>
                <p><strong>Special Needs:</strong> None</p>
                <p><strong>About Me:</strong> I am smelly lol</p>

                <button class="editcatprofile">Edit</button>
            </div>
        </div>
        
        <div class="catprofile2">

            <div class="cat_pfp">
                <img src="static/photos/joji.jpg" alt="Joji Photo">
            </div>
                
            <div class="cat_info">
                <h2>Cat's Name: Joji</h2>
                <p><strong>Age:</strong> 1 years old</p>
                <p><strong>Breed:</strong> British Shorthair</p>
                <p><strong>Gender:</strong> Male</p>
                <p><strong>Neutered Status:</strong> Neutered</p>
                <p><strong>Vaccine Status:</strong> Vaccinated</p>
                <p><strong>Special Needs:</strong> None</p>
                <p><strong>About Me:</strong> I am very naughty. I pee on yoga mats.</p>

                <button class="editcatprofile">Edit</button>
            </div>
        </div>

            <div class="addcat_button_container">
                <a href="/registercat" class="addcat_button"><b>Add Cat</b></a>
            </div>

    </body>        
    
</html>