<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cat Registration Form</title>
        <link rel='stylesheet' type='text/css' href="{{url_for('static',filename='style.css')}}">
    </head>
        <h1>Register Your Cat Here!</h1>
        
    <body>
        <form>
       <section class ="cat_name">
            <label for ="cat_name">Cat's Name: </label>
            <input type ="text" name="cat_name" id="cat_name" required maxlength="50">
        </section>

        <section class ="cat_photo">
        <label for="cat_photo">Cat's Photo: </label>
        <input type="file" name="cat_photo" id="cat_photo" accept="image/*">
        </section>

        <section class ="age">
            <label for ="age">Cat's Age: </label>
            <select name="age" id="age">
                <option value="age">Select age</option>
                <option value="age">0-2 year old</option>
                <option value="age">2-4 year old</option>
                <option value="age">4-8 year old</option>
                <option value="age">8-12 year old</option>
                <option value="age">12-16 year old</option>
                <option value="age">16-20 year old</option>
            </select>
        </section>
        
        <section class ="breed">
            <label for = "breed">Cat's Breed: </label>
                <input type="checkbox" name="breed" id="Siamese" value="Siamese">
                <label for="Siamese">Siamese</label>
                <input type="checkbox" name="breed" id="Persian" value="Persian">
                <label for="Persian">Persian</label>
                <input type="checkbox" name="breed" id="Maine Coon" value="Maine Coon">
                <label for="Maine Coon">Maine Coon</label>
                <input type="checkbox" name="breed" id="British Shorthair" value="British Shorthair">
                <label for="Britsh Shorthair">British Shorthair</label>
                <input type="checkbox" name="breed" id="Ragdoll" value="Ragdoll">
                <label for="Ragdoll">Ragdoll</label>
                <input type="checkbox" name="breed" id="Siberian" value="Siberian">
                <label for="Siberian">Siberian</label>
                <input type="checkbox" name="breed" id="Other" value="Other">
                <label for="Other">Others</label>  
        </section>

        <section class="cat_gender">
            <label for="gender">Cat's Gender: </label>
            <input type="radio" name="gender" id="gender_male" value="male" required> Male
            <input type="radio" name="gender" id="gender_female" value="female" required> Female
        </section>

        <section class="special_needs">
            <label for="special_needs">Special Needs</label>
            <input type="text" name="special_needs" id="special_needs" required maxlength="50">
        </section>

        <section class="about_me">
            <label for="about_me">About Meow :3</label>
            <input type="text" name="about_me" id="about_me" required maxlength="120">
        </section>

        <div class="Owner's Details">
            <h3>Owner's Details'</h3>
            <section class="owner_name">
            <label for="owner_name">Owner's Name:</label>
            <input type="text" name="owner_name" id="owner_name" required>
            </section>

            <section class = "owner_email">
            <label for="owner_email">Owner's Email:</label>
            <input type="email" name="owner_email" id="owner_email" required>
            </section>

            <section class="owner_contact">
            <label for="owner_contact">Owner's Contact:</label>
            <input type="text" name="owner_contact" id="owner_contact" required>
            </section>

        </div>

        <section class="submission">
            <input type="submit" value="Submit">
        </form> 
    </body>
</html>