*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url('backgroundcat3.jpeg');
    background-size: center;
}

.container {
    max-width: 700px;
    width: 100%;
    background: #ffd88e;
    padding: 25px 30px;
    border-radius: 10px;
}

.container .h1 {
    text-align: center;
}

.input-box form .details input {
    width: 350px;
    height: 250px;
}
.container .title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    padding: 30px;
}

.details {
    padding: 15px;
    font-weight: bold;
}


.submit-button input{
    background-color: #f6a475;
    border-style: none;
    border-radius: 6px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px;
    max-width: 700px;
    width: 100%; 
    box-sizing: border-box; 
}

.submit-button .container {
    position: fixed;
    left: 75%;
    transform: translateX(-50%); 
    z-index: 999;
    margin-bottom: 150px;
}

.submit-button:hover input{
    background-color: #ff6347;
}